.fluid-span-1 {
  width: 3.3684210526%;
}

.fluid-span-2 {
  width: 8.7368421053%;
}

.fluid-span-3 {
  width: 14.1052631579%;
}

.fluid-span-4 {
  width: 19.4736842105%;
}

.fluid-span-5 {
  width: 24.8421052632%;
}

.fluid-span-6 {
  width: 30.2105263158%;
}

.fluid-span-7 {
  width: 35.5789473684%;
}

.fluid-span-8 {
  width: 40.9473684211%;
}

.fluid-span-9 {
  width: 46.3157894737%;
}

.fluid-span-10 {
  width: 51.6842105263%;
}

.fluid-span-11 {
  width: 57.0526315789%;
}

.fluid-span-12 {
  width: 62.4210526316%;
}

.fluid-span-13 {
  width: 67.7894736842%;
}

.fluid-span-14 {
  width: 73.1578947368%;
}

.fluid-span-15 {
  width: 78.5263157895%;
}

.fluid-span-16 {
  width: 83.8947368421%;
}

.fluid-span-17 {
  width: 89.2631578947%;
}

.fluid-span-18 {
  width: 94.6315789474%;
}

.fluid-span-19 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 5.3684210526%;
}

.fluid-offset-2 {
  margin-left: 10.7368421053%;
}

.fluid-offset-3 {
  margin-left: 16.1052631579%;
}

.fluid-offset-4 {
  margin-left: 21.4736842105%;
}

.fluid-offset-5 {
  margin-left: 26.8421052632%;
}

.fluid-offset-6 {
  margin-left: 32.2105263158%;
}

.fluid-offset-7 {
  margin-left: 37.5789473684%;
}

.fluid-offset-8 {
  margin-left: 42.9473684211%;
}

.fluid-offset-9 {
  margin-left: 48.3157894737%;
}

.fluid-offset-10 {
  margin-left: 53.6842105263%;
}

.fluid-offset-11 {
  margin-left: 59.0526315789%;
}

.fluid-offset-12 {
  margin-left: 64.4210526316%;
}

.fluid-offset-13 {
  margin-left: 69.7894736842%;
}

.fluid-offset-14 {
  margin-left: 75.1578947368%;
}

.fluid-offset-15 {
  margin-left: 80.5263157895%;
}

.fluid-offset-16 {
  margin-left: 85.8947368421%;
}

.fluid-offset-17 {
  margin-left: 91.2631578947%;
}

.fluid-offset-18 {
  margin-left: 96.6315789474%;
}

