body {
  min-width: none;
  min-height: nonepx;
  background-color: #fbfbfb;
  font: normal 0.813em/1.38 caption;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.arrow {
  display: block;
  position: absolute;
  top: 23px;
  right: 16px;
  width: 8px;
  height: auto;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 320px;
  z-index: 16;
  width: auto;
}

.content .default {
  position: relative;
  float: right;
  z-index: 15;
  margin: 22px 15px 0 0;
}

.content .profile-name {
  position: relative;
  float: left;
  z-index: 0;
  margin: 20px 0 0 15px;
  font-size: 1.154em;
}

.create-new-box {
  position: relative;
  float: left;
  z-index: 17;
  width: 320px;
  min-width: none;
  height: 60px;
  min-height: nonepx;
  border-top: 1px solid #0670cc;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  background-color: #0996f8;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.create-new-box:hover {
  border-bottom-width: 0;
  border-top-color: #005bab;
  border-bottom-style: none;
  background-color: #0070cc;
}

.create-new-box:active {
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: #004480;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  background-color: #005bab;
}

.create-new-title {
  position: absolute;
  top: 20px;
  left: 103px;
  z-index: 18;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.default {
  width: 52px;
  height: 15px;
  border-width: 1px;
  border-color: #0670cc #157ed7 #157ed7;
  border-style: solid;
  border-radius: 3px;
  background-color: #0996f8;
  font-size: 0.692em;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.default-inactive {
  position: absolute;
  top: 22px;
  right: 54px;
  width: 52px;
  height: 15px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  font-size: 0.692em;
  line-height: 1.5;
  text-align: center;
  color: #d4d4d4;
}

.delete {
  display: block;
  float: left;
  clear: both;
  width: 90%;
  height: 30px;
  margin: 20px 0 0 15px;
  border: 1px solid #c21f09;
  border-radius: 4px;
  font-family: caption;
  font-size: 0.846em;
  font-weight: 400;
  text-align: center;
  color: #c21f09;
}

.line {
  float: left;
  clear: both;
  width: 100%;
  height: 1px;
  background-color: rgb(212, 212, 212);
}

.profile-box {
  position: relative;
  float: right;
  width: 320px;
  height: 60px;
  border-top: 1px solid rgb(212, 212, 212);
}

.profile-box-first {
  position: relative;
  float: right;
  z-index: 20;
  width: 320px;
  height: 60px;
}

.profile-box-1:hover,
.profile-box-first:hover {
  background-color: rgba(0, 0, 0, 0);
}

.profile-name {
  color: rgb(0, 0, 0);
}

.show-folder {
  display: block;
  float: left;
  clear: both;
  width: 90%;
  height: 30px;
  margin: 10px 0 0 15px;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  font-family: caption;
  font-size: 0.846em;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.small {
  float: left;
  clear: both;
  margin: 5px 0 0 15px;
  font-size: 0.846em;
  color: rgb(0, 0, 0);
}

.text {
  float: left;
  clear: both;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.vertical-line {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 1px;
  height: 40px;
  background-color: #d4d4d4;
}

._container {
  position: relative;
}

.arrow-1 {
  z-index: 23;
}

.arrow-2 {
  z-index: 29;
}

.arrow-3 {
  z-index: 35;
}

.arrow-4 {
  z-index: 41;
}

.arrow-5 {
  z-index: 47;
}

.default-1 {
  position: absolute;
  top: 22px;
  right: 54px;
  z-index: 24;
}

.default-1:hover {
  border-color: #005bab;
  background-color: #0670cc;
}

.default-1:active {
  border-color: #004480;
  background-color: #005bab;
}

.default-inactive-1 {
  z-index: 30;
}

.default-inactive-1:hover {
  border-color: #a0a0a0;
  background-color: rgba(0, 0, 0, 0);
  color: #a0a0a0;
}

.default-inactive-1:active {
  border-color: #157ed7;
  background-color: #2ea3ff;
  color: #ffffff;
}

.default-inactive-2 {
  z-index: 36;
}

.default-inactive-3 {
  z-index: 42;
}

.default-inactive-4 {
  z-index: 48;
}

.line-2 {
  margin-top: 13px;
}

.line-1,
.line-3,
.line-4 {
  margin-top: 20px;
}

.profile-box-1 {
  z-index: 26;
}

.profile-box-2 {
  z-index: 32;
}

.profile-box-3 {
  z-index: 38;
}

.profile-box-4 {
  z-index: 44;
}

.profile-name-1 {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 21;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.profile-name-2 {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 27;
  font-size: 1em;
}

.profile-name-3 {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 33;
  font-size: 1em;
}

.profile-name-4 {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 39;
  font-size: 1em;
}

.profile-name-5 {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 45;
  font-size: 1em;
}

.text-2 {
  margin: 13px 0 0 15px;
}

.text-3 {
  margin: 13px 0 0 14px;
}

.text-4 {
  margin: 10px 0 0 14px;
}

.text-1,
.text-5 {
  margin: 10px 0 0 15px;
}

.vertical-line-1 {
  z-index: 22;
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.vertical-line-2 {
  z-index: 28;
}

.vertical-line-3 {
  z-index: 34;
}

.vertical-line-4 {
  z-index: 40;
}

.vertical-line-5 {
  z-index: 46;
}

._container-1 {
  width: 100%;
  margin: 0 auto;
}

._container-2 {
  float: left;
  width: 320px;
}

._container-3 {
  float: left;
  width: 320px;
  height: 60px;
}

._container-4,
._container-5,
._container-6,
._container-7 {
  float: left;
  clear: both;
  width: 320px;
  height: 60px;
}

._container-3:hover,
._container-4:hover,
._container-5:hover,
._container-6:hover,
._container-7:hover {
  background-color: #f0f0f0;
}

._container-8 {
  float: left;
  clear: both;
  width: 100%;
  height: 60px;
}

@media(max-width: 639px) {
  ._container-5:hover {
    background-color: #f0f0f0;
  }

  .profile-box-2:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .default-inactive-2:hover {
    border-color: #a0a0a0;
    background-color: rgba(0, 0, 0, 0);
    color: #a0a0a0;
  }

  .default-inactive-2:active {
    border-color: #157ed7;
    background-color: #2ea3ff;
    color: #ffffff;
  }

  .content .default {
    position: relative;
    z-index: 15;
    margin-top: 0;
    margin-right: 0;
  }

  .content .default:hover {
    border-color: #005bab;
    background-color: #0670cc;
  }

  .content .default:active {
    border-color: #004480;
    background-color: #005bab;
  }

  .content .delete {
    clear: none;
    margin-top: 0;
    margin-left: 4.69484%;
  }

  .content .line {
    margin-top: 0;
  }

  .content .profile-name {
    position: relative;
    z-index: 0;
    margin-top: 22px;
    margin-left: 6px;
  }

  .content .show-folder {
    position: relative;
    clear: none;
    margin-top: 0;
  }

  .content .small {
    position: relative;
    clear: none;
    margin-top: 0;
  }

  .content .text {
    margin-top: 0;
  }

  .content .line-1 {
    float: right;
  }

  .content .line-2 {
    position: relative;
    z-index: 5;
    margin-left: -3px;
  }

  .content .line-3 {
    position: relative;
    z-index: 9;
    margin-left: 112px;
  }

  .content .line-4 {
    margin-left: -1px;
  }

  .content .show-folder-1 {
    z-index: 8;
    margin-left: 6.25%;
  }

  .content .show-folder-2 {
    z-index: 12;
    margin-left: 4.95892%;
  }

  .content .small-1 {
    z-index: 7;
    margin-left: 20px;
  }

  .content .small-2 {
    z-index: 11;
    margin-left: 16px;
  }

  .content .text-1 {
    position: relative;
    z-index: 2;
    margin-left: 20px;
  }

  .content .text-2 {
    position: relative;
    clear: none;
    z-index: 3;
    margin-left: 20px;
  }

  .content .text-3 {
    position: relative;
    clear: none;
    z-index: 4;
    margin-left: 20px;
  }

  .content .text-4 {
    clear: none;
    margin-left: 20px;
  }

  .content .text-5 {
    position: relative;
    clear: none;
    z-index: 10;
    margin-left: 16px;
  }

  ._container ._container-2 {
    width: 100%;
  }

  ._container ._container-3,
  ._container ._container-4,
  ._container ._container-5,
  ._container ._container-6,
  ._container ._container-7 {
    width: 100%;
    min-width: 260px;
  }

  ._container ._container-8 {
    min-width: 260px;
  }

  ._container .arrow-1,
  ._container .arrow-2,
  ._container .arrow-3,
  ._container .arrow-4,
  ._container .arrow-5 {
    height: auto;
  }

  ._container .content-1 {
    display: none;
    position: relative;
    float: left;
    clear: both;
    top: auto;
    left: auto;
  }

  ._container .create-new-box-1 {
    position: relative;
    z-index: 17;
    width: 100%;
  }

  ._container .create-new-title-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  ._container .profile-box-1 {
    position: relative;
    z-index: 26;
    width: 100%;
    margin-right: -0.15405%;
  }

  ._container .profile-box-2 {
    position: relative;
    z-index: 32;
    width: 100%;
  }

  ._container .profile-box-3 {
    position: relative;
    z-index: 38;
    width: 100%;
  }

  ._container .profile-box-4 {
    position: relative;
    z-index: 44;
    width: 100%;
  }

  ._container .profile-box-first-1 {
    position: relative;
    float: left;
    z-index: 20;
    width: 100%;
  }

  ._container-1 {
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}